@using Infatuation.Foundation.LocalServiceClient
@inject LocalServiceClient lsc

@{
    ViewData["Title"] = "Home Page";

}


<div id="indexBody" class="indexPage tableResults"></div>

@section Scripts
{
    <script src="~/js/main.js"></script>
}
