@using Infatuation.Foundation.LocalServiceClient
@inject LocalServiceClient lsc

@{
    ViewData["Title"] = "Home Page";

}


<h2>Server Status: @(lsc.CheckServerHealth() ? "OK" : "Not Ok" )</h2>

<div id="indexBody"></div>

@section Scripts
{
    <script src="~/js/Index.js"></script>
}
