
<div>
    <label for="githubSearch">Search Github</label>
    <input id="githubSearch" class="form-control" name="q" />
</div>

<div id="githubSearchResults" class="tableResults">

</div>

@section Scripts {
    <script src="~/js/GithubSearch.js"></script>}