<div class="githubSearch">
    <div>
        <label for="githubSearch">Search Github</label>
        <input id="githubSearch" class="form-control searchField" name="q" />
    </div>

    <div class="searchResults tableResults">

    </div>
</div>

@section Scripts {
    <script src="~/js/main.js"></script>}